# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environments
.venv/
venv/
env/
.env

# Local databases/backups
po.db
backups/*.dump

# Build/system files
.DS_Store
Thumbs.db
postgresql-*-windows-x64.exe

# Test cache
.pytest_cache/
